<div>
    <h1>Stupid Coaching</h1> <!-- Add this -->
  <div>
    <p><%= @ask %></p>
    <p>- You</p>
  </div>

  <div>
    <p><%= @coach %></p>
    <p>- Coach</p>
  </div>

  <%= link_to "Ask a new question", ask_path %>

  <p>@the_ginja_ninja</p>  <!-- Add this -->
</div>
