
    <h1>Stupid Coaching</h1> <!-- Add this -->

    <h2> You asked: <%= @ask %> </h2>
    <h2> Your coach says: <%= @coach %> </h2>

    <%= link_to "Ask a new question", ask_path %>

    <p>@the_ginja_ninja</p>  <!-- Add this -->
