<div class="container">
    <h1>Stupid Coaching</h1> <!-- Add this -->

    <div class="border">
      <div class="message">
        <p><%= @ask %></p>
        <p>- You</p>
      </div>
    </div>

    <div class="border">
      <div class="message yellow-background">
        <p><%= @coach %></p>
        <p>- Coach</p>
      </div>
    </div>

    <%= link_to "Ask a new question", ask_path %>

    <p>@the_ginja_ninja</p>  <!-- Add this -->
</div>
